.podatkiOEkipi {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    position: relative;
    padding-left: 50px;
    text-align: left;
    padding-top: 50px;
}

table {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    position: relative;
    width: 50%;
    padding-left: 50px;
    text-align: left;
    padding-top: 50px;
}